


textarea{
    resize: none;
}
body{
    background-color:#ffffff;
    color: #ffffff;
  
}
@media (min-width: 768px){
    .container{
        width: 750px;
        margin: 30px auto;
    }
    .search{
        margin-top: 41px !important;
    }
}
@media (max-width: 768px){
    .container{
        margin: 30px 50px !important;
        width: 450px !important;
    }
    
    .search{
        margin-top: 41px !important;
    }
}
span{
    background-color: yellow;
}
#tablebody{
  color: black !important;
}